body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; 
  background-color: rgb(150, 81, 247);
  display: flex;
  justify-content: center;
  align-items: center;
}

#map-container {
  width: auto;
  height: 100%;
}

 
 .links{
  margin-top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 50px;
  font-weight: bold;
  list-style-type: none;
  text-transform: uppercase;
 
 
 }
 
 .welcome{
  color: white;
  text-align: center;
  color: rgb(234, 255, 0);
  width: auto;

 }


 .links > li {

  text-decoration: none;
  color: rgb(234, 255, 0);
  padding: 0pc 50px 0px 50px;
  text-align: center;
  font-weight: bold;
 
 }

 .links > li > a {

  text-decoration: none;
  color: rgb(234, 255, 0);
  text-align: center;
  font-weight: bold;
  color: inherit;
  text-decoration: none;

  background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 9px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
 
 }



 .links > li > a:hover {
  background-size: 0 3px, 100% 3px;
}